.maldives-photo-div {
  background-image: url('../images/flowers.jpg');
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(80%);
}

.welcome-content {
  position: relative;
  top: 110px;
  display: flex;
  align-items: center;
  padding: 20px 30px;
}
