.home-search-engine {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-link {
  text-decoration: none;
}

.button-link {
  text-decoration: none;
}

.little-text {
  &.phone {
    color: black;
  }
  font-size: 30px;
  color: #1a1a1a;
  text-align: center;
  font-family: 'tangerine', sans-serif;
}

.home-reservation-button {
  &.phone {
    display: none;
  }
  height: 42px;
  width: 200px;
}

.landing-page-container {
  padding: 90px 30px 50px;
  background-color: #ccc5c2;
  display: flex;
  height: calc(100vh - 140px);
}

.welcome-content {
  &.phone {
    display: none;
  }
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 100px 30px;
}

.photo-div {
  background-image: url('../images/hotel3.jpg');
  min-height: calc(100vh - 140px);
  width: 50vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 820px) {
  .home-reservation-button-container {
    display: none;
    &.phone {
      display: block;
    }
  }
  .home-reservation-button.phone {
    &:hover {
      font-size: medium;
      font-weight: 500;
      color: white;
      background-color: #525252;
      border: none;
      border: 1px solid #525252;
    }
    display: block;
    color: black;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid black;
    margin: 20px;
  }
  .welcome-content {
    text-align: center;
    display: none;
    &.phone {
      display: flex;
      position: unset;
    }
  }
  .landing-page-container {
    padding: 0;
    background-color: white;
    height: 80vh;
  }
  .photo-div {
    background-image: url('../images/hotel3.jpg');
    opacity: 90%;
    min-height: 50vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .home-search-engine {
    display: none;
  }
  .landing-page-container {
    display: block;
  }
  .photo-div {
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  .welcome-content {
    position: relative;
    top: 110px;
    padding: 0;
  }
}
