.flowers-background {
  background-image: url('../../images/flowers4.jpg');
  // background-color: #c7c2c1;

  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(90%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search-engine {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 30px;
}

.search-form {
  display: flex;
  justify-content: center;
  background-color: transparent;
  margin-bottom: 20px;
}

.date-group > input,
.number-input {
  padding: 8px;
  font-size: 15px;

  &.date-input {
    text-align: end;
  }
  &:hover,
  &:focus-visible {
    padding-bottom: 6px;
    border-bottom: 2px solid #525252;
  }
}

.date-group > label,
.small-info {
  font-size: 12px;
  color: rgb(80, 80, 80);
  text-align: center;
}

.cards-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.76);
  padding: 20px;
}

.datepicker-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.233);
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-datepicker {
  border-radius: 0;
  background-color: white;
  &__header {
    background-color: white;
  }
  &__navigation--next:hover {
    border: 0.45rem solid transparent;
    border-left-color: #ccc;
    background-color: white;
  }
  &__navigation--previous:hover {
    border: 0.45rem solid transparent;
    border-right-color: #ccc;
    background-color: white;
  }
  &__day {
    padding: 6px;
    margin: 0;
    border-radius: 0;
    &:hover {
      border-radius: 0;
    }
  }

  &__day-- {
    &in-selecting-range {
      background-color: rgb(179, 179, 179);
      &:hover {
        background-color: rgb(155, 155, 155);
      }
    }
    &disabled.availability-picker {
      background: repeating-linear-gradient(
        45deg,
        white,
        white 4px,
        rgb(235, 235, 235) 4px,
        rgb(235, 235, 235) 6px
      );
      color: grey;
    }
    &selected,
    &selected:hover,
    &in-range,
    &in-range:hover {
      background-color: rgb(151, 151, 151);
    }

    &keyboard-selected {
      background-color: white;
      color: black;
      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .search-engine {
    align-items: flex-start;
    padding-top: 100px;
  }
  .search-form {
    flex-direction: column;
    align-items: flex-start;
  }
}

input {
  font-family: 'Cormorant Garamond', serif;
}
