* {
  margin: 0;
  padding: 0;
}

.App {
  color: black;
}

.site-content {
  margin-top: 110px;
}

.icon {
  color: rgb(82, 82, 82);
}

input {
  height: 25px;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #525252;
  text-align: center;
}

button {
  &:hover {
    border: 1px solid rgb(82, 82, 82);
    background-color: rgb(82, 82, 82);
    color: white;
  }
  // font-family: 'Cormorant Garamond', serif;
  font-family: 'Amiri', serif;
  font-weight: 500;
  background-color: transparent;
  color: black;
  cursor: pointer;
  padding: 5px 15px;
  border: 1px solid #525252;
  margin: 5px;
  // border-radius: 3px;
}


